* {
    box-sizing: border-box
}

body{
    padding: 0%;
    margin: 0%;
}

a {
    color: #777777;
    align-items:right;
}

.top-header {
    background: #4aaaa5;
}
.name-box {
    background:black;
    position: fixed;
    margin-top: 10px;
}

.header-div {
    background-color: white;
}

div {
    color: #777777;
}

.copyright {
    align:center
}

div img {
    float:left;
    width: 200px;
    height:200px;
}

div::after {
    content: "";
    display: block;
    clear: both;
}


.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 50px;
    clear: both;
    background: #666666;
    padding: 30px;

}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

h2 {
    color:#4aaaa5 ;
}

#main-body {
    background: white;
    width: 960;
}